<app-customerdashboard></app-customerdashboard>  

<section style="background: linear-gradient(to right, #ccffff 0%, #ffccff 100%);">
 

  <div class="container py-5">
    

    <div class="top">
      <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" (change)="getSpecsByCategory($event.target.value)">
        <option selected value="">Categories</option>
        <option *ngFor="let item of categoryArray" [value]="item">{{item}}</option>
      </select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" (keypress)="searchByName($event.target.value)">
    <!-- <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button> -->
  </form>
</div>
  <div class="row">
    <!-- <a style="color: white;" (click)="sort(item)" class="btn btn-primary">Add to Cart</a> -->

  <div class="col-md-12 col-lg-4 mb-4" *ngFor="let item of specs">
  <div class="card">
  
  <div class="d-flex justify-content-between p-3">
  <p class="lead mb-0">Category: {{item.category}}</p>
  

  </div>
  <img src={{item.imageUrl}} class="card-img-top" alt="...">
  <div class="card-body">
  <div class="d-flex justify-content-between">
  
  </div>
  <div class="d-flex justify-content-between mb-3">
    <b><h7 class="mb-0">Name: {{item.name}}</h7></b>
    <b><h7 class="text-dark mb-0">{{item.price | currency:'INR'}}</h7></b>
    
    </div>
  <p class="card-description">Description: {{item.description}}</p>
  
  <a style="color: white;" (click)="addCart(item)" class="btn btn-primary">Add to Cart</a>
  </div>
  </div>
  </div>

  
  </div>
  </div>

  </section>
